html
    head
        title
        include ../components/people_head.jade
    body
        include ../components/header.jade
        #title.container
            h1.row.s12
                span.part2 Annabel Shini | 
                span.part1 Chen
        #basics.container
            .row
                .col.s8
                    |   <p>Annabel.Chen <img src="images/at.gif" class="at"> ucsf.edu</p>
                    |   <p><em>Assistant Specialist </em></p>
                .col.s4
                    img.responsive-img.z-depth-1(src="images/annabelchen.jpg")

            #education
                h3 Education

                p 2024-2025
                .degrees M.Sc., Biomedical Informatics 
                .degrees New York University  

                p 2019-2024
                .degrees Honors B.Sc., Microbiology and Immunology 
                .degrees University of British Columbia 

                h3 Research Interests
                p Integrating cell and molecular engineering, functional genomics, and computational analysis to uncover mechanisms of immune regulation and therapeutic response, with the goal of developing targeted and cell-based therapeutics for onco-immunological diseases

                h3 Awards
                p 2024 Natural Sciences and Engineering Research Council of Canada Undergraduate Student Research Awards (NSERC USRA)
                
                p 2023 CRS Andy & Lena Chabot Studentship


                h3 Publications
                p Katsnelson, L., <strong>Chen, S.</strong>, Chen, Z., Xiu, J., Fenyo, D., Bianchi, J., & Davoli, T. "Pan-cancer aneuploidy study reveals common drivers of immune evasion amid profound tissue specificity." Nature Genetics. (Submitted and under peer review).

                p Kim, J.<sup>†</sup>, Kovacs, H.<sup>†</sup>, Parthasarathy, A.<sup>†</sup>, <strong>Chen, S.<sup>†</sup></strong>, Krishnamoorthy, V., Al-Seragi, M., Zhao, M., Huang, L., Austin Dean, P., Johnson, P., Roskelley, C., Wisnovsky, S. "A genome-wide CRISPR screen reveals cancer-specific regulators of hyaluronan binding and cellular invasion." iScience. (Submitted and under peer review). <em><sup>†</sup>These authors contributed equally to this work.</em>
                                 
        include ../components/footer.jade