html
    head
        title
        include ../components/people_head.jade
    body
        include ../components/header.jade
        #title.container
            h1.row.s12
                span.part2 Dylan | 
                span.part1 Conger
        #basics.container
            .row
                .col.s8
                    |   <p>dylan.conger <img src="images/at.gif" class="at"> ucsf.edu</p>
                    |   <p><em>Junior Specialist</em></p>
                .col.s4
                    img.responsive-img.z-depth-1(src="images/dylanconger.jpg")
            #education
                h3 Education

                p 2021-2025
                .degrees B.A., Biochemistry and Neuroscience
                .degrees Vanderbilt University

                h3 Research Interests
                p Controlling <em>in vitro</em> development using synthetic morphogenetic programs.

                h3 Awards
                p 2025 Outstanding Senior in Neuroscience, Vanderbilt University
                p 2025 Excellence in Undergraduate Research Award, Biochemistry and Chemical Biology, Vand. U.
                p 2025 Poster Award and Podium Presentation, Cellular and Molecular Bioengineering (CMBE) 2025
                p 2023-2025 SyBBURE Searle Undergraduate Research Student
                p 2022 Taco Bell Live Más Scholar

                h3 Publications
                authors Spetz MR, Kim H, Chavarria D, <strong>Conger DJ</strong>, Shattuck-Brandt R, Shekharan SR, Shostak A, Embalabala RJ, Schrag MS, Lippmann ES, Brunger JM. 
                title Amyloid-β-regulated gene circuits for programmable Alzheimer’s disease therapy. 
                journal <em>bioRxiv</em>. 2025. doi: 10.1101/2025.03.12.642808.
                 
        include ../components/footer.jade