html
    head
        title
        include ../components/people_head.jade
    body
        include ../components/header.jade
        #title.container
            h1.row.s12
                span.part2 Manish | 
                span.part1 Ayushman, PhD
        #basics.container
            .row
                .col.s8
                    |   <p>manish.ayushman <img src="images/at.gif" class="at"> ucsf.edu</p>
                    |   <p><em>Postdoctoral Scholar</em></p>
                .col.s4
                    img.responsive-img.z-depth-1(src="images/manishayushman.jpeg")

            #education
                h3 Education

                p 2025-Present
                        .degrees Postdoctoral scholar
                        .degrees University of California, San Francisco

                        p 2019-2025
                        .degrees Ph.D., Bioengineering
                        .degrees Stanford University

                        p 2014-2019
                        .degrees B.Tech. and M.Tech., Chemical Engineering
                        .degrees Indian Institute of Technology (IIT), Kharagpur

                        h3 Research Interests
                        p Programming the extracellular matrix as a node in cell signaling circuits.

                        h3 Awards
                p 2021-2024 BioX Stanford Interdisciplinary Graduate Fellowship (SIGF)
                p 2024 Stanford Bio-X Best Poster Award
                p 2023 Student Travel Achievement Recognition Award, Society for Biomaterials
                p 2022 Stanford Bio-X Star Mentor Award
                p 2022 Stanford Bioengineering Teaching Assistantship Award
                p 2022 Student Research Achievement Award, Biophysical Society
                p 2018-2019 Institute Proficiency Award for best Bachelor's and Master's theses
                p 2018 Certificate of Student Invention, IIT Kharagpur
                        p 2018 Khorana Scholar, Johns Hopkins University
                p 2017 Bioengineering Summer Training Fellow, Indian Institute of Science

                        h3 Publications
                p Sinha, S., Fleck, M.*, <strong>Ayushman, M.*</strong>, Tong, X., Mikos, G., Jones, S., Soto, L., Yang, F., "Matrix stiffness regulates GBM migration and chemoradiotherapy responses via chromatin condensation in 3D viscoelastic matrices", ACS Applied Materials & Interfaces, 2025, *equal contribution. doi: 10.1021/acsami.4c16993.

                p Villicana, C., Su, N., Yang, A., Tong, X., <strong>Ayushman, M.</strong>, Lee, J., Lee, H., Kim, T., Yang, F. "Incorporating Bone-derived ECM into Macroporous Mineral-containing Microribbon Scaffolds Accelerates Endogenous Bone Regeneration", Advanced Healthcare Materials, 2025. doi: 10.1002/adhm.202402138.

                p Tong, X.*, <strong>Ayushman M.*</strong>, Lee, H.-P., Yang, F., “Tuning Local Matrix Compliance Accelerates Mesenchymal Stem Cell Chondrogenesis in 3D Sliding Hydrogels”, Biomaterials, 2025, *equal contribution. doi: 10.1016/j.biomaterials.2025.123112.

                p <strong>Ayushman, M.</strong>, Lee, H.P., Agarwal, P., Mikos, G., Sinha, S., Tong, X., Jones, S., Sinha, S., Goodman, S., Bhutani, N., Yang, F. "Sliding hydrogels reveal the modulation of mechanosensing attenuates the inflammatory phenotype of osteoarthritic chondrocytes in 3D", Journal of Biomedical Materials Research: Part A, 2025, doi: 10.1002/jbm.a.37861.

                p <strong>Ayushman, M.</strong>, Mikos, G.*, Tong, X.*, Sinha, S., Lopez-Fuentes, E., Jones, S., Cai, P., Lee, H., Morrison, A., Spakowitz, A., Heilshorn, S., Sweet-Cordero, A., Yang, F. “Cell Tumbling enhances stem cell differentiation in hydrogels via nuclear mechanotransduction”, Nature Materials, 2024, *equal contribution. doi: 10.1038/s41563-024-02038-0.

                p Sinha, S., Huang, M., Mikos, G., Singh, Y., Soto, L., Lensch, S., <strong>Ayushman, M.</strong>, Bintu, L., Bhutani, N., Heilshorn, S., Yang, F. “Laminin-associated integrins mediate Diffuse Intrinsic Pontine Glioma infiltration and therapy response within a neural assembloid model.”, Acta Neuropathologica Communications, 2024. doi: 10.1186/s40478-024-01765-4.

                p Sinha, S., <strong>Ayushman, M.</strong>, Tong, X., Yang, F. “Dynamically Crosslinked PEG Hydrogels Reveal a Critical Role of Viscoelasticity in Modulating Glioblastoma Fates and Drug Responses in 3D.", Advanced Healthcare Materials, 2023. doi: 10.1002/adhm.202202147.

                p Mukhopadhyay, M., Ray, R., <strong>Ayushman, M.</strong>, Sood, P., Bhattacharyya, M., Sarkar, D., DasGupta, S. "Interfacial energy driven distinctive pattern formation during the drying of blood droplets", Journal of Colloid and Interface Science, 2020. doi: 10.1016/j.jcis.2020.04.008.

                p Sett, A., Ayushman, M., Dasgupta, S., DasGupta, S. "Analysis of the Distinct Pattern Formation of Globular Proteins in Presence of Micro and Nanoparticles", Journal of Physical Chemistry B, 2018. doi: 10.1021/acs.jpcb.8b05325.

                    
                        
        include ../components/footer.jade